<!DOCTYPE html>
<html id="html">
  <head>
    <title><%= @title %></title>
    <link href="/vendor/qunit.css" media="screen" rel="stylesheet" type="text/css" media="screen, projection" />
    <style>
      #jquery-version {
        background-color: #0D3349;
        color: #8699A4; text-align: left; font-family: sans-serif; line-height: 1;
        padding: 0 2em .8em 1.5em;
      }
      #jquery-version a { color: white; text-decoration: underline; }
    </style>

    <%= script_tag jquery_src %>
    <%= script_tag "/vendor/underscore.js" %>
    <%= script_tag backbone_src %>
    <%= script_tag "/vendor/assets/javascripts/rails.validations.backbone.js" %>
  </head>

  <body id="body">
    <%= yield %>
  </body>
</html>
